body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.751)),
    url("../src/assets/amity.jpg") center / cover no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  text-align: center;
}
.classBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0 1.5rem;
  font-size: 1.2rem;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 15px;
  margin: 0.8rem 0;
}
h4 {
  background-color: #213547;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  padding: 0 0.7rem;
  /* width: 60px;
  height: 60px; */
}
p {
  font-weight: bold;
  text-transform: uppercase;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}
